body{
    padding: 0;
    margin: 0;
    background-color: #F9B5D0;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-header{
    padding-bottom: 50px;
    opacity: 0.8;
    color: black;
}

.card-header::after{
    content: "";
    width: 70px;
    height: 1px;
    background-color: black;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label{
    color: black;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.campo {
    border-radius: 10px;
}